<div class="columns dash-container" (click)="onClick()">
  <div class="rows">
    <h3>JSON</h3>
    <textarea class="dash-json expanded-mostly" [(ngModel)]="jsonAsString"></textarea>

    <div class="row">
      <button class="update-button" (click)="updateJson()">Update</button>
    </div>
  </div>

  <div class="divider"></div>

  <div class="rows">
    <h3>Preview</h3>
    <hda-dashboard
      class="dash"
      [json]="json"
      (dashboardReady)="setDashboard($event)"
      (widgetSelectionChange)="onWidgetSelectionChange($event)"
    />
    <h3>Editor</h3>
    @if (dashboard) {
      <hda-model-editor [model]="selectedWidget" />
    }
    <div class="var-setter row">
      <h3>Variables</h3>

      @for (pair of variablePairs; track pair) {
        <label class="var-control">
          <input #name="ngModel" class="var-name-input" type="text" [(ngModel)]="pair.name" />
          <span class="var-separator">: </span>
          <input #value="ngModel" class="var-value-input" type="text" [(ngModel)]="pair.value" />
          <button class="remove-button" (click)="removePair(pair)">-</button>
          @if (name.dirty || value.dirty) {
            <button class="update-variable-button" (click)="updatePair(pair)">✔</button>
          }
        </label>
      }

      <button class="add-button" (click)="addVariable()">Add...</button>
    </div>
  </div>

  <div class="divider"></div>

  <div class="rows">
    <h3>Serialized</h3>
    <textarea readonly class="serialized-json expanded-mostly" [ngModel]="serializedDashboard | json"></textarea>
  </div>
</div>
